body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculadora {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    text-align: right;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
}

button {
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn.num {
    background-color: #3498db;
    color: white;
}

.btn.op {
    background-color: #2ecc71;
    color: white;
}

.vestimenta-boton-borrar {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
    background-color: red;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
